<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation') %>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut a quasi saepe, dolores aliquam aut sit inventore expedita numquam nobis pariatur temporibus libero neque molestias quibusdam adipisci, laudantium eveniet! Accusamus, veniam ex tempora odit unde repellendus quis est cum, beatae dolorum iste nam. Voluptates ex praesentium a asperiores optio. Sed, tempora rerum ullam non deserunt quo perferendis ducimus, adipisci quas esse nobis cum id voluptatem repellat? Quod libero quibusdam eaque officia architecto eum beatae quam deleniti nesciunt voluptates perspiciatis similique iste aliquid nihil esse voluptas dolorum, quaerat dolores ipsa, dignissimos, adipisci fugit. Ipsa consectetur deleniti corporis nostrum quibusdam temporibus magnam sequi, numquam dolorem, ullam velit, ipsum alias error. Dicta excepturi magni iste vel? Molestias, quibusdam quia, quos ipsa rem adipisci incidunt placeat nobis autem temporibus quas commodi voluptatum quasi est soluta ad tempore dignissimos? Facilis animi aliquid ullam ipsam, sequi quibusdam quasi architecto voluptatum maxime quisquam laborum optio enim perspiciatis iure dolores? Atque, blanditiis molestiae unde nisi accusamus ducimus voluptatibus sunt ea aliquam reprehenderit voluptatum ipsum nostrum illo repudiandae officia harum nihil modi laboriosam nesciunt consequatur ex nam facilis distinctio? Tempora perspiciatis rem earum in totam architecto sed nisi debitis voluptas veritatis reiciendis, a repudiandae vel? At corrupti blanditiis voluptates.</p>
        </section>
    </main>

    <%- include('partials/footer') %>

</body>
</html>